
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.body_inside{
    
    padding: 50px;

}



/* .....................................................
        Header_container
........................................................ */

.Header_container{
    padding: 5%;
    background-color: #000;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;


}

.Header_container:hover .header_right img{
    
       transform: translate(100px) scale(1.2);
       transition: transform 3s ease-out .3s;
    
    
}

.header_left{
    width: 50%;

}

.header_right{
    width: 50%;
}

.watch_btn{
    font-size: 1.1rem;
    padding: 2% 4%;
    background-color: red;
border-radius: 10px;
}


/* .....................................................
        Boxlist_container
........................................................ */

.Box_container{
    display: flex;

    width: 100%;


}

/* .....................................................
        BoX fixed or left container
........................................................ */
.fixed_left_container{
width: 20%;
height: 200px;
background-color: black;
padding: 20px;
border-radius: 10px;


 
 
  position: -webkit-sticky;
  position: sticky;
  top: 0px;

}


.fixed_child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fixed_btn{
    
    
    margin: 5px 0px;
    font-size: 1.1rem;
    padding: 2% 20%;
    border: 1px solid grey;
    
    border-radius: 10px;
    
}
.fixed_child button:hover{
    background-color:red;}

/* .....................................................
        BoX right container
........................................................ */


.box_right{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px ;
    width: 80%;
    margin-left: 10px;
    
   
}
.box{
    
}

.img_blog{
    width: 100%;
}

.description{
    margin: 5%;
}

.p_transfer{
    font-weight: bold;
}
.transfer_btn{
    font-size: 1.1rem;
    padding: 2% 4%;
    border: 1px solid grey;
    
    border-radius: 10px;

}

.icon_parent{
    display: flex;
    justify-content: flex-start;

}

.fa-clock ,.fa-comment-dots{
    color: grey;
    font-size: 1.5rem;
    margin-right: 10px;
    
}
.marg_p{
    margin-right: 25%;
}


/* .....................................................
       Footer container
........................................................ */


.foot{
    width: 100%;
    
    margin-top: 10%;
    text-align: center;
    color: white;
    background-color: #000;
    

}
.footer_h{
}

.ending_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;

    

    
}


.ending_desc a{
    text-decoration: none;
    color: white;
    margin-right: 20px;


}
.icon_container{
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 25%;

    

}